/* Navbar */

.navbar {
  background-color: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: #7e1cfee1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 130px;
  height: 26px;
  margin-right: 5px;
}

.logo-text {
  font-weight: bold;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 50px;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #555;
}

.navbar-button {
  background-color: #7e1cfe;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #a45ffd;
}

body {
  margin: 0;
  padding-top: 60px; 
}
